@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}

@keyframes marquee {
  from{
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.whatsapp-button {
  width: 300;
  height: auto;
  padding: 10px 20px;
  background-color: #25D366;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 10px ;
  text-align: center;
}

.whatsapp-button:hover {
  background-color: #1DA851;
}

.feedback {
  width: 4/5;
}

.red {
  background: linear-gradient(to right, #5d0000, #af0000, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.lift-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lift-hover:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.topico {
  background-color: #980101;
  border-radius: 10px;
  height: auto;
  border-color: black;
  margin: 10px;
  padding: 10px;
  transition: background-color 2s ease;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;


  

}

.topico:hover {
  background-color: #370101;
}

.artist-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: black/50;
  border-radius: 15px;
  place-items: center;
  
}

.insta {
  background: linear-gradient(
    270deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  background-size: 600% 600%;
  animation: instagramGradient 16s ease infinite;
  color: white;
  padding: 10px;
  border-radius: 5px;
  place-items: center;
  display: flex;
  font-size: 20px;
  border-radius: 10px;
}

@keyframes instagramGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 2s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
